.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: ". Title Title ." ". Video Video Pledges" ". Links . .";
}

.Title { grid-area: Title; }

.Video { grid-area: Video; }

.Pledges { grid-area: Pledges; }

.Links { grid-area: Links; }